.parent{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 30px;
}

.sidebar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px 30px 0px 0px;
}

.sidebar_opt{
    -fx-fill:#C1C1C1;
}

.pane {
    -fx-background-color: linear-gradient(to left bottom, #ADD8E6, #FFFFFF); /* Light blue and white gradient */
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 0px 0px 30px 30px;
    -fx-border-radius: 0px 0px 30px 30px;
    -fx-effect: dropshadow(gaussian, #FFFFFF, 10, 0.5, 0, 0); /* Reflection effect */
}




.pane_quicktransfer{
    -fx-background-color: #FFFFFF;
     /*-fx-background-color: #ADD8E6; /* Light blue-green color */
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 30x 0px 0px 30px;
    -fx-border-radius: 30px 30px 30px 30px;
}

.plus_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;

}
/**/
.color_card{
   /* -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3); */
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;

}

/*credit card style */
.credit-card {
     /* -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3); /*color of credit card*/
      -fx-background-color: linear-gradient(to right, #4C6CB3, #8AA9E8); /* lighter shades */
      -fx-background-radius: 10px;
      -fx-effect: dropshadow(gaussian, #FFFFFF, 10, 0.5, 0, 0); /* reflection effect */

}

.circle_lbl{
    -fx-background-color: #3cdcc4;
    -fx-background-radius: 100%;

}
